.psite{
        background-color: white;
}
.yulan{
    border:5px solid #369;
    margin:0 auto;
    width:1000px;
}
.searchinput{
border-right-width: 0px;
padding-left: 3px;
width: 500px;
font-family: arial;
float: left;
border-top-width: 0px;
border-bottom-width: 0px;
color: #636365;
margin-left: 4px;
font-size: 8pt;
vertical-align: middle;
border-left-width: 0px;
margin-right: 3px;
}
.searchsubmit{
    width: 21px;
    height: 17px;
    border: 0;
    background: url('../magglass.gif') no-repeat left top;
}
.tab_search{
    border-bottom: #cccccc 1px solid;
    border-left: #cccccc 1px solid;
    height: 25px;
    border-top: #cccccc 1px solid;
    border-right: #cccccc 1px solid;

}
.searchaction{
    width: 21px;
    float: left;
    height: 17px;
}
ul#fe{ width:100%; height:60px; background:#00A2CA;margin:0 auto}
ul#fe li{display:inline; height:60px}
ul#fe li a{display:inline-block; padding:0 20px; height:60px; line-height:60px;
color:#FFF; font-family:"\5FAE\8F6F\96C5\9ED1"; font-size:16px}
ul#fe li a:hover{background:#0095BB}
#titlea{width:100%; height:60px;
font-family : "\5FAE\8F6F\96C5\9ED1";
font-size : 3em;
color : #00A2CA;
background:#FFF;
margin:0 auto }