<html>
    <head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css" />
    <script src="/static/js/jquery-2.2.0.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">双十二-主会场</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">首页<span class="sr-only">(current)</span></a></li>
        <li><a href="#">尚未开始</a></li>
        <li><a href="#">尚未开始</a></li>
        <li><a href="#">尚未开始</a></li>
        <li><a href="logout.php">退出</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
    <a href="/">欢迎您,{{user['name']}}!</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
    
    
  </div><!-- /.container-fluid -->
</nav>
    <div class="container">
        
    <h3>您的客户端API凭据</h3>
    <ul>
      <li><strong>服务器地址:</strong> <code>{{ endpoint }}</code></li>
      <li><strong>您的账号id:</strong> <code>{{ user['id'] }}</code></li>
      <li><strong>您的秘钥:</strong> <code>{{ user['secret'] }}</code></li>
    </ul>
    <br>
    <br>
    <h3>正在促销的商品</h3>
    
    <table class="table table-hover">
<tr><th>商品</th><th>你买的起吗,你？</th><th>商品数量</th></tr>
    {% for waffle in waffles %}
    <tr>
    <td> {{ waffle['name'] }}</td><td>{% if waffle['premium'] %} <div style="color:red;">(你的智商余额不足，请充值)</div>{% else %}<div>OK,你是壕</div>{% endif %}</td><td>100</td>
    </tr>
    {% endfor %}
     </table>
    <br>
    <br>
    <h3><a href="./logs.php/id/{{ user['id'] }}">API请求日志</a></h3>
    <h3><a href="./download.php/filename/client.py">客户端下载</a></h3>
    </div>
    </body>
</html>
